<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update chat</title>
    <style>
      input,
      textarea {
        display: block;
        margin: 20px 0px;
        padding: 10px;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Update Chat</h1>
    <a href="/chats">back</a>
    <div>
      <form action="/chats/update/<%= chat._id %>?_method=PUT" method="POST">
        <p><strong>To: </strong><%=chat.to %></p>
        <p><strong>From: </strong><%=chat.from %></p>
        <textarea name="message" placeholder="Message Here" rows="4" cols="50">
<%= chat.message %></textarea
        >
        <button>Send</button>
      </form>
    </div>
  </body>
</html>
